.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#app {
    background-color: rgb(255, 0, 0);
}

#game {
    background-color: green;
}

#web {
    background-color: blue;
    color: rgb(255, 255, 255);
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-top: 15px;
    color: white;
    font-size: 20px;
}